<div>
  <form (ngSubmit)="register()">
    <h1>Inscription</h1>
    <div class="form-block">
      <label>Name</label>
      <input placeholder="Name" name="name" 
        [(ngModel)]="user.name" [formControl]="name" />
      <div *ngIf="name.invalid">{{ getErrorMessageName() }}</div>
    </div>
    <div class="form-block">
      <label>Surname</label>
      <input placeholder="Surname" name="surname" 
        [(ngModel)]="user.surname" [formControl]="surname" />
      <div *ngIf="surname.invalid">{{ getErrorMessageSurname() }}</div>
    </div>
    <div class="form-block">
      <label>Email</label>
      <input type="email" placeholder="Email" name="email" 
        [(ngModel)]="user.email" [formControl]="email" />
      <div *ngIf="email.invalid">{{ getErrorMessageEmail() }}</div>
    </div>
    <div class="form-block">
      <label>Password</label>
      <input [type]="show ? 'text' : 'password'" placeholder="Password" name="password" 
        [(ngModel)]="passwordString1" [formControl]="passwordForm1" />
      <div *ngIf="passwordForm1.invalid">{{ getErrorMessagePassword() }}</div>
    </div>
    <div class="form-block">
      <label>Confirm password</label>
      <input [type]="show ? 'text' : 'password'" placeholder="Password" name="password2" 
        [(ngModel)]="passwordString2" [formControl]="passwordForm2" />
      <div *ngIf="passwordForm2.invalid">{{ getErrorMessagePassword() }}</div>
    </div>
    <div *ngIf="!(passwordString1 === passwordString2)">{{ getErrorMessagePassword() }}</div>
    <button (click)="showPassword()">{{ show ? 'Hide password' : 'Show password' }}</button>
    <button>Register</button>
  </form>
  {{ error }}
</div>